@charset "utf-8";
body {
    background-color: #0057CD;
    color: #570001;
    border-color: #5EB915;
    border-style: solid;
}
h1 {
    color: #0C273E;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    border-color: #AD181A;
    font-style: italic;
}
table {
    color: #0F3E0D;
    background-color: #319DD1;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-style: oblique;
}
